<li id="twitterpost-<%= twitterpost.id %>">
  <%= link_to gravatar_for(twitterpost.user, size: 50), twitterpost.user %>
  <span class="user"><%= link_to twitterpost.user.name, twitterpost.user %></span>
  <span class="content"><%= twitterpost.content %>
    <%= image_tag twitterpost.picture.url if twitterpost.picture? %>
  </span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(twitterpost.created_at) %> ago.
    <% if current_user?(twitterpost.user) %>
      <%= link_to "delete", twitterpost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>